<% if logged_in? %>
	<h2>Home Content</h2>
<% else %>
<div class="home-wrapper">
	<div class="home-wrapper-inner">
		<h1>Keep track of your hours</h1>
		<h3>PayMeNow lets your employers know that you deserve to get paid for your hard-work. You work hard, you love your work, you love your company. Or maybe you hate them all. Either way, you still need to get paid.</h3>
		<%= link_to "Tutorial", "#", class: "btn btn-lg btn-default" %>
	</div>
</div>
<% end %>