<% provide(:title, "Subordinates") %>

<div class="col-xs-12 col-sm-12 col-md-8">
	<h2>Subordinates of <%= @user.name %></h2>
	<div class="clearfix">
		<%= will_paginate @employees, class: "pull-right" %>
	</div>
	<ul class="model-list">
	<%= render @employees %>
	</ul>
	<div class="clearfix">
		<%= will_paginate @employees, class: "pull-right" %>
	</div>
</div>
