<% provide(:title, "Owned Groups") %>

<div class="col-xs-12 col-sm-12 col-md-8">
	<h2>Groups of <%= @user.name %></h2>
	<div class="clearfix">
		<%= will_paginate @owned_groups, class: "pull-right" %>
	</div>
	<ul class="model-list">
	<%= render partial: 'groups/group', collection: @owned_groups, as: :group %>
	</ul>
	<div class="clearfix">
		<%= will_paginate @owned_groups, class: "pull-right" %>
	</div>
</div>
