<% provide(:title, "Subordinates") %>

<div class="col-xs-12 col-sm-12 col-md-8">
	<h2>Subordinates of <%= @user.name %></h2>
	<div class="clearfix">
		<%= will_paginate @subordinates, class: "pull-right" %>
	</div>
	<ul class="model-list">
	<%= render partial: 'employee_control', collection: @subordinates, as: :employee, layout: 'shared/employee_item_list_layout' %>
	</ul>
	<div class="clearfix">
		<%= will_paginate @subordinates, class: "pull-right" %>
	</div>
</div>
