<li>
	<%= form_for(group.group_memberships.build(employee_id: employee.id), html: {id: "new_group_membership_#{employee.id}"}) do |f| %>
		<div><%= f.hidden_field :employee_id %></div>
		<div><%= f.hidden_field :group_id %></div>
		<%= f.submit "Choose as a member", class: "btn btn-link" %>
	<% end %>
</li>