<div class="col-xs-8 col-xs-offset-2 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-0">
		<h2 class="pull-left">Search:</h2>
		<%= yield :search_form %>
</div>


<div class="col-xs-12 col-sm-12 col-md-8">
	<div class="clearfix">
		<%= will_paginate employees, class: "pull-right" %>
	</div>
	<ul class="model-list">
		<%= yield %>
	</ul>
	<div class="clearfix">
		<%= will_paginate employees, class: "pull-right" %>
	</div>
</div>