<div class="col-xs-8 col-xs-offset-2 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-0">
	<h2 class="pull-left">Search:</h2>
	<%= form_tag search_employees_group_path, class: "navbar-form navbar-right" do %>
	<div class="form-group">
		<%= text_field_tag :search, nil, class: "form-control", placeholder: "Search", role: "search" %>
	</div>
	<%= submit_tag "Search", class: "btn btn-default" %>
	<% end %>
</div>