
@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-size:62.5%;
}

html, body {
	height: 100%;
}

body {
	color: $gray-dark;
	padding-top: 120px;
}

/* Debug window */
.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}

.field_with_errors {
	@extend .has-error;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	font-family: "Times New Roman", Georgia, Serif;
	line-height: 1;
}

h1 {
	font-size: 3.3rem;
	letter-spacing: -2px;
	margin-bottom: 10px;
}

h2 {
	font-size: 2.8rem;
	letter-spacing: -2px;
	margin-bottom: 10px;
}

h3 {
	font-size: 2.1rem;
	letter-spacing: -1px;
	margin-bottom: 10px;
	font-weight: normal;
}

.main-container {
	width: 100%;
}

/* Header */

header {
	position: fixed;
	top: 0;
	left: 0;
	right:0;
	z-index: 100;
	background-color: #fff;

	.header-brand {
		font-size: 2.0rem;
		color: #848484;
		font-weight: bold;
		margin: 5px auto;
		@extend .clearfix;

		&:hover {
			text-decoration: none;
		}
	}

	.header-nav {
		margin-top: 15px;
		border-bottom: 1px solid #E6E6E6;
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 5px;
		text-align: center;
	}

	.nav {
		display: table;
		margin-top: 10px;
		margin-right: auto;
		margin-left: auto;
	}

}

/* Side Nav */

ul.actions-side-nav {
	list-style: none;
	font-size: 1.4rem;
	width: 200px;

	li.action-header {
		font-size: 1.8rem;
		line-height: 5.0rem;
		border-bottom: 1px solid #E6E6E6;
	}

	li {
		line-height: 4.0rem;
		text-indent: 10px;

		a {
			display: block;
			&:hover {
				text-decoration: none;
				background: #eeeeee;
			}

			&:active, &:focus {
				text-decoration: none;
			}
		}
	}
}


ul.employees-list {
	list-style: none;
}

/* Footer */

footer {
	color: #848484;

	.footer-inner {
		margin-top: 15px;
		padding-top: 15px;
		border-top: 1px solid #E6E6E6;
	}

	small {
		font-weight: bold;
		font-size: 1.4rem;
		float: left;
	}

	a {
		color: $gray-light;
		font-size: 1.3rem;
		&:hover {
			color: #000000;
			text-decoration: none;
		}
	}

	ul {
		float: right;
		list-style-type: none;

		li {
			display: inline;
		}
	}

}

/* Pagination */

div.pagination {
	margin-top: 0;
	margin-bottom: 0;
}

ul.pagination {
	margin-top: 5px;
	margin-bottom: 5px;
}

/* Layout */

@media (min-width: $screen-sm-min) {

	.main-container {
		height: 88%;
		display: table;
	}

	body {
		padding-top: 100px; 
	}

	/* typography */

	h1 {
		font-size: 3.8rem;
		margin-bottom: 20px;
	}

	h2 {
		font-size: 3.3rem;
		margin-bottom: 20px;
	}

	h3 {
		font-size: 2.5rem;
		margin-bottom: 20px;
	}

	/* Header */

	header {

		.header-nav {
			margin-top: 30px;
			padding-left: 15px;
			padding-right: 15px;
		}

		.header-brand {
			float: left;
		}

		.nav {
			margin-top: 0;
			float: right;
		}

	}

}



