@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	padding-top: 30px;
	color: $gray-dark;
}

/* Debug window */
.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}

/*#error_explanation {
	color: #f00;
}*/

.field_with_errors {
	@extend .has-error;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Times New Roman", Georgia, Serif;
	line-height: 1;
}

/* Layout */

@media (min-width: 992px) {

	/* typography */

	h1 {
		font-size: 2.7em;
		letter-spacing: -2px;
		margin-bottom: 20px;
	}

	h2 {
		font-size: 2.2em;
		letter-spacing: -2px;
		margin-bottom: 20px;
	}

	h3 {
		font-size: 1.6em;
		letter-spacing: -1px;
		margin-bottom: 20px;
		font-weight: normal;
	}

	/* Header */

	header {
		width: 700px;
		padding-bottom: 5px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
		border-bottom: 1px solid #E6E6E6;

		.header-brand {
			color: #848484;
			font-size: 20px;
			font-weight: bold;
			float: left;
			margin-top: 5px;
			margin-bottom: 5px;

			&:hover {
				text-decoration: none;
			}
		}

		.nav {
			float: right;
		}

	}

	/* Footer */

	footer {
		width: 700px;
		margin-top: 45px;
		margin-left: auto;
		margin-right: auto;
		padding-top: 15px;
		border-top: 1px solid #E6E6E6;
		color: #848484;

		small {
			font-size: 14px;
			float: left;
			font-weight: bold;
		}

		a {
			color: $gray-light;
			&:hover {
				color: #000000;
				text-decoration: none;
			}
		}


		ul {
			float: right;
			list-style-type: none;

			li {
				display: inline;
			}
		}

	}


}

