ul.employees-list {
	list-style: none;
	border: 1px solid;
	padding: 0;
	border-radius: 10px;

	.list-item {
		border-bottom: 1px solid;
		padding-top: 10px;
		padding-bottom: 10px;

		.employee-image {
			max-height: 100px;
			max-width: 100px;
		}

		ul.employee-control {
			padding: 0;
			list-style: none;
			float: right;
			text-align: right;

			li {
				margin-bottom: 5px;
				ul.employee-inner-control {
					list-style: none;
					padding: 0;

					li {
						display: inline;
						padding-right: 5px;
						border-right: 1px solid;

						&:last-child {
							border: none;
						}

					}
				}
			}

			li.group-membership, li.position {
				font-style: italic;
				font-size: 1.2rem;
				color: #848484;
			}

			li.employee-name {
				font-weight: bold;
				font-size: 1.6rem;
				color: #848484;

				a {
					color: #848484;
					&:hover {
						text-decoration: none;
						color: #000;
					}
				}
			}

		}

		&:hover {
			background-color: #eeeeee;
		}

		&:first-child {
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
		}

		&:last-child {
			border: none;
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
		}

	}

}

@media (min-width: $screen-sm-min) {
	ul.employees-list {

		.list-item {
			padding-right: 10px;
		}
	}

}

