.home-wrapper {
	color: #000;
	text-align: center;
	vertical-align: middle;
}

@media (min-width: $screen-sm-min) {
	.home-wrapper {
		color: #000;
		display:table-cell;
		.home-wrapper-inner {
			width: 600px;
			margin: 0 auto;
		}

	}
}


@media (min-width: $screen-md-min) {
	.home-wrapper {
		.home-wrapper-inner {
			width: 800px;
		}
	}
}


