<% provide(:title, "New Activity") %>

<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0">
	<h2>New Activity</h2>
	<%= form_for(@activity) do |f| %>
		<%= render 'activity_form', f: f %>
		<%= f.submit "Create a new activity", class: "btn btn-primary" %>
	<% end %>
</div>