<footer class="footer clearfix">
	<div class="footer-inner">
		<small>
		All-About-The-Pay
		</small>

		<ul>
		<li><%= link_to "Github", "https://github.com/chris-yoon90/All-about-the-pay", target: "_blank" %></li>
		</ul>
	</div>
</footer>