<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      Actions <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li role="presentation" class="dropdown-header">Employees</li>
        <li><%= link_to 'Employee Index', employees_path %></li>
        <li><%= link_to 'Create New Employee', new_employee_path %></li>
        <li class="divider"></li>
        <li role="presentation" class="dropdown-header">Groups</li>
        <li><%= link_to 'Group Index', groups_path %></li>
        <li><%= link_to 'Create New Group', new_group_path %></li>
    </ul>
</li>